<div class="div-body">
    <br>
    <div class="container">
        <div class="form-signin">
            <center>
				<h3>Reenviar Confirmación</h3>
			</center>
			
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				
              	<br>
              	<%= devise_error_messages! %>
              	<br>

			  	<div class="field">
			    	<%= f.email_field :email, autofocus: true, 
			    	class: "form-control", :placeholder => "Correo Electrónico", 
			    	value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
			  	</div>

			  	<br>

			  	<div class="actions">
			    	<%= f.submit "Reenviar", 
			    	class: "btn btn-success btn-block" %>
			  	</div>

			  	<br>

			  	<%= render "users/shared/links" %>

			<% end %>
            <br>
        </div>
    </div>
    <br>
</div>

<%= render "shared/footer" %>