<div class="div-body">
    <br>
    <div class="container">
        <div class="form-signin">
            <center>
                <h3> Iniciar Sesion </h3>
            </center>
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <br>
                <center><div style="color: #e60000"><%= alert %></div></center>
                <br>

                <div class="field">
                    <label class="sr-only">Correo Electr칩nico</label>
                    <%= f.email_field :email, :placeholder => "Correo Electr칩nico", 
                    autofocus: true, autocomplete: "on", class: "form-control" %>
                </div>

                <div class="field">
                  <label class="sr-only">Contrase침a</label>
                  <%= f.password_field :password, autocomplete: "off", 
                  :placeholder => "Contrase침a", class: "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="checkbox"> 
                        <label> 
                            <%= f.check_box :remember_me %>
                            Recuerdame
                        </label>
                    </div>
                <% end -%>
               
                <%= f.submit "Iniciar", class: "btn btn-success btn-block" %>
                
                <br>
                
                <%= render "users/shared/links" %>
            
            <% end %>
            <br>
        </div>
    </div>
    <br>
</div>

<%= render "shared/footer" %>



                
                
                