		<center>
			<div style="background-color: #666666; color: white">
				<%= notice %>
			</div>
		</center>

		<nav class="navbar navbar-default navbar-static-top">
	        <div class="container">
		        	<ul class="nav navbar-nav" style="margin: 14px">
						<%= link_to image_tag("/images/buttons/social-media/facebook.png", size: "24x24"), 
						'https://www.facebook.com/',
						'data-toggle' => 'tooltip', 'title' => 'Facebook', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/twitter.png", size: "24x24"), 
						'https://www.twitter.com/',
						'data-toggle' => 'tooltip', 'title' => 'Twitter', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/googleplus.png", size: "24x24"), 
						'https://plus.google.com/',
						'data-toggle' => 'tooltip', 'title' => 'Google+', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/linkedin.png", size: "24x24"), 
						'https://www.linkedin.com',
						'data-toggle' => 'tooltip', 'title' => 'Linkedin', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/instagram.png", size: "24x24"), 
						'https://www.instagram.com',
						'data-toggle' => 'tooltip', 'title' => 'Instagram', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/flickr.png", size: "24x24"), 
						'https://www.flickr.com',
						'data-toggle' => 'tooltip', 'title' => 'Flickr', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/youtube.png", size: "24x24"), 
						'https://www.youtube.com',
						'data-toggle' => 'tooltip', 'title' => 'Youtube', class: "hvr-bob" %>

						<%= link_to image_tag("/images/buttons/social-media/vimeo.png", size: "24x24"), 
						'https://www.vimeo.com',
						'data-toggle' => 'tooltip', 'title' => 'Vimeo', class: "hvr-bob" %>
		            </ul>
		          	<div class="navbar-form navbar-right">
		          		<% if current_user %>
		          			<%=	link_to "InnovaTron Virtual", nil, class: "btn btn-default" %>
							<div class="navbar-form navbar-right">
			          			<% if can? :dashboard, @user %>
			          				<%=	link_to "", rails_admin_path, 
			          				class: "glyphicon glyphicon-cog", id: 'dashboard',
			          				'data-toggle' => 'tooltip', 'title' => 'Panel de Control' %>
			          				&nbsp;&nbsp;
			          			<% end %>
								<%=	link_to "", destroy_user_session_path, 
									class: "glyphicon glyphicon-log-out gray", :method => :delete,
									id: 'logout', 'data-toggle' => 'tooltip', 
									'title' => 'Cerrar Sesión' %>
							</div>
						<% else %>
							<%=	link_to "Registrarse", new_user_registration_path, class: "btn btn-default" %>
							<%=	link_to "Iniciar Sesión", user_session_path, 
								class: "btn btn-default" %>
						<% end %>
	        		</div>
			</div>
		</nav>
	    <nav class="navbar navbar-default navbar-static-top">
	        <div class="container">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			    </div>
		        <div id="navbar" class="navbar-collapse collapse">
		            <ul class="nav navbar-nav">
			            <div class="navbar-header">
					        <a class="navbar-brand" style="color: black"> InnovaTron </a>
					    </div>
		                <li>
		                	<%= link_to "Inicio", home_path %>
		                </li>
		               	<li>
		                	<%= link_to "Acerca de Nosotros", abouts_path %>
		                </li> 
		                <li>
		                	<%= link_to "Robótica Educativa" %>
		                </li>
		                <li>
		                	<%= link_to "Álbumes de Fotos", albums_path %>
		                </li>
		               	<li>
		                	<%= link_to "Blog", posts_path %>
		                </li>
		               	<li>
		                	<%= link_to "Contáctanos", contacts_path %>
		                </li>
		            </ul>
		        </div>
	        </div>
	    </nav>