<div class="div-body">
  <div class="container">

    <h1>Indice</h1>

    <table>
      <thead>
        <tr>
          <th>Misión</th>
          <th>Visión</th>
          <th>Compañía</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @abouts.each do |about| %>
          <tr>
            <td><%= about.mission %></td>
            <td><%= about.vision %></td>
            <td><%= about.company %></td>
            <td>
              <%= link_to '', about, class: "glyphicon glyphicon-eye-open", 
                id: "mostrar", 'data-toggle' => 'tooltip', 'title' => 'Mostrar'
              %>
            </td>
            <td>&nbsp;</td>
            <td>
              <%= link_to '', edit_about_path(about), class: "glyphicon glyphicon-pencil", 
                id: "editar", 'data-toggle' => 'tooltip', 'title' => 'Editar'
              %>
            </td>
            <td>&nbsp;</td>
            <td>
              <%= link_to '', about, class: "glyphicon glyphicon-remove", 
                id: "eliminar", 'data-toggle' => 'tooltip', 'title' => 'Eliminar',
                method: :delete, data: { confirm: 'Estás seguro de este about?' } 
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo About', new_about_path, class: "btn btn-primary" %>

  </div>
</div>

<!-- CRUD Tooltips -->
<script type="text/javascript">
  $(function () {
    $('mostrar').tooltip();
    $('editar').tooltip();
    $('eliminar').tooltip();
  })
</script>