<div class="div-body">
	<div class="container">

		<p id="notice"><%= notice %></p>

		<br><p>
		  <strong>Misión</strong>
		  <%= raw @about.mission %>
		</p><br>

		<br><p>
		  <strong>Visión</strong>
		  <%= raw @about.vision %>
		</p><br>

		<br><p>
		  <strong>Compañía</strong>
		  <%= raw @about.company %>
		</p><br>

		<%= link_to 'Editar', edit_about_path(@about), class: "btn btn-primary" %>
		<%= link_to 'Volver al índice', abouts_path, class: "btn btn-primary" %>

		<br><br>
		
	</div>
</div>