	<div class="jumbotron" style="background-color: #f2f2f2; border-bottom: 1px solid; border-color: #e6e6e6">
		<center>
		  	<h2>Acerca de Nosotros</h2>
		</center>
	</div>

<div class="container">
	<p>
		<h2>Misión</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.mission %>
	</p>

	<br>

	<p>
		<h2>Visión</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.vision %>
	</p>

	<br>
	
	<p>
		<h2>Compañía</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.company %>
	</p>

	<hr class="featurette-divider"> 

	<% if can? :dashboard, @user %>
		<%= link_to 'Editar', 
			rails_admin.edit_path(model_name: 'about', id: @about.id),
			class: "btn btn-primary" 
		%>
	<% end %>

</div>

<%= render 'pages/shared/footer' %>



		
	
