<div class="div-body">
    <br>
    <div class="container">
        <div class="form-signin">
            <center>
				<h3>Restablecer Contraseña</h3>
			</center>

			<br>
			
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  
              	<label style="color: #e60000"><%= devise_error_messages! %></label>

              	<br><br>
			  
			  	<div class="field">
			    	<%= f.email_field :email, autofocus: true, 
			    	class: "form-control", :placeholder => "Correo Electrónico" %>
			  	</div>

			  	<br>
			  
			  	<div class="actions">
			    	<%= f.submit "Restablecer", 
			    	class: "btn btn-success btn-block"  %>
			  	</div>

			  	<br>
			  
			  	<%= render "users/shared/links" %>

			<% end %>
            <br>
        </div>
    </div>
</div>
