<div class="jumbotron" style="background-color: #f2f2f2; border-bottom: 1px solid; border-color: #e6e6e6">
    <center>
        <h2>Blog</h2>
    </center>
</div>

<div class="container"> 

    <div class="row featurette">
        <div class="col-md-12">
            <form class="navbar-form navbar-right">
                <%= form_tag("/search", method: "get") do %>
                    <%= text_field_tag 'search', nil, placeholder: 'Buscar publicación...', 
                    class: 'form-control' %>
                <% end %>
            </form>
        </div>
    </div>
    <hr class="featurette-divider"> 

    <% @posts.each do |post| %>
        <div class="row featurette">
            <% if post.asset.file? %>
                <div class="col-md-5">
                    <%= image_tag post.asset.url(:large), 
                    class: "featurette-image img-responsive center-block" %>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading"> <%= post.title %> </h2>
                    <p>
                        <span class="glyphicon glyphicon-user gray"> 
                            InnovaTron
                        </span> 
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar gray"> 
                            <%= post.created_at.to_formatted_s(:long) %>   
                        </span> 
                    </p>
                    <p class="lead"> 
                        <%= post.lead %> 
                    </p>
                    <%= link_to 'Continuar Leyendo', post, class: "btn btn-default" %>
                </div>
            <% else %>
                <div class="col-md-12">
                <h2 class="featurette-heading"> <%= post.title %> </h2>
                <p>
                    <span class="glyphicon glyphicon-user gray"> 
                        InnovaTron
                    </span> 
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-calendar gray"> 
                        <%= post.created_at.to_formatted_s(:long)  %> 
                    </span> 
                </p>
                <p class="lead"> 
                    <%= post.lead %> 
                </p>
                <%= link_to 'Continuar Leyendo', post, class: "btn btn-default" %>
                </div>
            <% end %>
        </div>
        <hr class="featurette-divider">    
    <% end %>

    <% if @posts.count > 4 %>
        <center>
            <div class="apple_pagination">
                <%= will_paginate @posts %>
            </div>
        </center>
        <hr class="featurette-divider">  
    <% end %>
     
    <% if can? :dashboard, @user %>
            <%= link_to 'Nueva Publicación', 
                rails_admin.new_path(model_name: 'post'),
                class: "btn btn-primary" %>
            &nbsp;
    <% end %>

</div>

<%= render 'shared/footer' %>





        
