<div class="container">

	<div class="col-md-8">
		<p>
			<h2 class="featurette-heading"> <%= @post.title %> </h2>
		</p>
		<hr class="featurette-divider">

	    <p>
	        <span class="glyphicon glyphicon-user gray"> 
	            AulaInnova
	        </span> 
	        &nbsp;&nbsp;
	        <span class="glyphicon glyphicon-calendar gray"> 
	            <%= @post.created_at.to_formatted_s(:long)  %> 
	        </span> 
	    </p>

	    <br>

	    <% if @post.asset.file? %>
		    <p> 
			<%= image_tag @post.asset.url(:large), 
		        class: "featurette-image img-responsive center-block" %>
		    </p>
		    <br>
		<% end %>
	    
	    <p class="body">
			<%= raw @post.body %>
		</p>

		<hr class="featurette-divider">  

		<div class="navbar-form">
		<% if can? :dashboard, @user %>
			<%= link_to '', 
				rails_admin.edit_path(model_name: 'post', id: @post.id),
				class: "glyphicon glyphicon-edit blue", 
					id: 'editar', 'data-toggle' => 'tooltip',
					'title' => 'Editar' %>
			&nbsp;&nbsp;
			<%= link_to '', @post, class: "glyphicon glyphicon-remove blue", 
                id: "eliminar", 'data-toggle' => 'tooltip', 'title' => 'Eliminar',
                method: :delete, data: { confirm: 'Estás seguro de eliminar esta publicación?' } 
              %>
		<% end %>

			<div class="navbar-right">
				<%= link_to 'Volver Atrás', posts_path, 
				class: "btn btn-default" %>
			</div>
		</div>
	</div>

</div>

<%= render 'shared/footer' %>