<!DOCTYPE html>
<html>
	<head>
		<html lang="en">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<title>AulaInnova</title>
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		
		<center>
			<div style="background-color: #666666; color: white">
				<%= notice %>
			</div>
		</center>

	    <nav class="navbar navbar-default navbar-static-top">
	        <div class="container">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			    </div>
		        <div id="navbar" class="navbar-collapse collapse">
		        	<ul class="nav navbar-nav" style="margin: 5px">
		           			<a id="facebook" href="https://www.facebook.com/" data-toggle="tooltip" title="Facebook">
		           				<img class="saturate" src="/images/buttons/social-media/facebook.png" width=19 height=19></img>
		           			</a>
		           			<a id="twitter" href="https://www.twitter.com/" data-toggle="tooltip" title="Twitter">
		           				<img class="saturate" src="/images/buttons/social-media/twitter.png" width=19 height=19></img>
		           			</a>
		           			<a id="googleplus" href="https://plus.google.com/" data-toggle="tooltip" title="Google+">
		           				<img class="saturate" src="/images/buttons/social-media/googleplus.png" width=19 height=19></img>
		           			</a>
		           			<a id="linkedin" href="https://www.linkedin.com" data-toggle="tooltip" title="Linkedin">
		           				<img class="saturate" src="/images/buttons/social-media/linkedin.png" width=19 height=19></img>
		           			</a>
		           			<a id="instagram" href="https://www.instagram.com" data-toggle="tooltip" title="Instagram">
		           				<img class="saturate" src="/images/buttons/social-media/instagram.png" width=19 height=19></img>
		           			</a>
		           			<a id="flickr" href="https://www.flickr.com/" data-toggle="tooltip" title="Flickr">
		           				<img class="saturate" src="/images/buttons/social-media/flickr.png" width=19 height=19></img>
		           			</a>
		           			<a id="youtube" href="https://www.youtube.com/" data-toggle="tooltip" title="Youtube">
		           				<img class="saturate" src="/images/buttons/social-media/youtube.png" width=19 height=19></img>
		           			</a>
		           			<a id="vimeo" href="https://www.vimeo.com/" data-toggle="tooltip" title="Vimeo">
		           				<img class="saturate" src="/images/buttons/social-media/vimeo.png" width=19 height=19></img>
		           			</a>
		            </ul>
		          	<div class="navbar-form navbar-right">
		          		<% if user_signed_in? %>
							<%=	link_to " Cerrar Sesión", destroy_user_session_path, class: "btn btn-success", :method => :delete  %>
						<% else %>
							<%=	link_to " Registrarse", new_user_registration_path, class: "btn btn-success" %>
							<%=	link_to " Iniciar Sesión", user_session_path, class: "btn btn-success" %>
						<% end %>
	        		</div>
		            <ul class="nav navbar-nav">
			            <div class="navbar-header">
					        <a class="navbar-brand" style="color: black"> AulaInnova </a>
					    </div>
		                <li>
		                	<%= link_to "Inicio", pages_home_path %>
		                </li>
		                <li class="dropdown">
		                  	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                  		Acerca de Nosotros <span class="caret"></span>
		                  	</a>
				            <ul class="dropdown-menu">
					            <li>
					                <%= link_to "Misión", pages_about_path %>
					            <li>
					                <%= link_to "Visión", pages_about_path %>
					            <li>
					                <%= link_to "Compañía", pages_about_path %>
					            </li>
				            </ul>
		                </li>
		                <li>
		                	<%= link_to "Robótica Educativa", pages_robotics_workshop_path %>
		                </li>
		                <li>
		                	<%= link_to "Galería de Imagenes", pages_picture_gallery_path %>
		                </li>
		               	<li>
		                	<%= link_to "Blog", pages_blog_path %>
		                </li>
		               	<li>
		                	<%= link_to "Contáctanos", pages_contact_path %>
		                </li>
		            </ul>
		        </div>
	        </div>
	    </nav>
		
		<%= yield %>

		<div class="container marketing">
			<hr class="featurette-divider">
	    	<footer>
		        <p>&copy; 2016 AulaInnova. Todos los derechos reservados.</p>
	    	</footer>
	    </div>

	    <!-- Social Network Tooltips -->
	    <script type="text/javascript">
	    	$(function () {
  				$('facebook').tooltip();
  				$('twitter').tooltip();
  				$('googleplus').tooltip();
  				$('linkedin').tooltip();
  				$('instagram').tooltip();
  				$('flickr').tooltip();
  				$('youtube').tooltip();
  				$('vimeo').tooltip();
			})
	    </script>

	</body>

</html>