<!DOCTYPE html>
<html>
	<head>
		<html lang="es">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<title>InnovaTron</title>
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		
		<%= render 'shared/header' %>
		
		<%= yield %>

	</body>
	
</html>